<% provide :title, "neko" %>
<div id="contents">
	<header>
		<img id="header_img" src="images/neko/etc/banner.png">
		<a href="nekomanual"><div id="manual_link">マニュアルはこちら</div></a>
	</header>
	<div id="game_window_cover">
		<div id="loading_progress_bar"></div>
		<div id="game_window" class="none">
			<!-- メイン画面 -->
			<div id="main" class="hidden">
				<div id="background">
					<img src="images/neko/bg/st1-0-0.png" class="background_image" id="background_image_bg">
				</div>
				<div id="ressurect_count_area" class="hidden">
					<span class="ressurect_text">復活まで：</span>
					<span id="ressurect_count">5000</span>
					<span class="ressurect_text">秒</span>
				</div>
				<div id="character_siro">
					<img src="images/neko/chara/siro.png" class="character_chip_alive">
				</div>
				<div id="character_kuro">
					<img src="images/neko/chara/kuro.png" class="character_chip_alive">
				</div>

				<div id="sit_siro" class="hidden">
					<img src="images/neko/chara/siro_sit_1.png" id="sit_siro_1">
					<img src="images/neko/chara/siro_sit_2.png" id="sit_siro_2">
				</div>
				<div id="sit_kuro" class="flip hidden">
					<img src="images/neko/chara/kuro_sit_1.png" id="sit_kuro_1">
					<img src="images/neko/chara/kuro_sit_2.png" id="sit_kuro_2">
				</div>

				<img src="images/neko/bg/st1-0-1.png" class="background_image" id="background_image_floor">
				<img src="images/neko/bg/st1-0-2.png" id="background_image_fg" class="background_image">

				<div id="stairs_fadeouter" class="hidden"></div>

				<div id="blur"></div>

				<div id="character_hitbox_siro"></div>
				<div id="character_hitbox_kuro"></div>

				<div id="datetime_info_area" class="shadow_background">
					<div id="extra_event_area" class="">
						<div id="extra_event_text">不在時イベント再生中：</div>
						<div id="extra_event_timer">残り<span id="time_remain">4:21:02</span></div>
					</div>
					<div id="datetime_index_area">
						<span id="clock_text">時刻：</span>
						<span id="current_dungeon_text">現在の次元：</span>
						<span id="depth_text">フロア：</span>
						<span id="next_event_text">次イベントまで：</span>
					</div>
					<div id="datetime_param_area">
						<span id="date_area">
							<span id="month">12</span>
							<span class="separator">月</span>
							<span id="day">31</span>
							<span class="separator">日</span>
						</span>
						<span id="time_area">
							<span id="hour">22</span>
							<span class="separator">:</span>
							<span id="minute">38</span>
							<span class="separator">:</span>
							<span id="second">45</span>								
						</span>
						<span class="dungeon_name">ぬるじげん</span>
						<span id="floor_area">
							<span id="current_floor">1333</span>
							<span class="separator">/</span>
							<span class="separator" id="max_floor">9999</span>
							<span class="separator">F</span>
						</span>
						<span id="next_event_sec">40</span>
						<span class="separator">秒</span>
					</div>

				</div>
				<div id="menu_button_area" class="shadow_background">
					<ul id="menu_list">
						<li id="ressurect_button" class="menu_item">回復</li>
						<li id="menu_equip_button" class="menu_item">装備</li>
						<li id="status_show_button" class="menu_item">ステータス</li>
						<li id="dungeon_list_show_button" class="menu_item">次元層選択</li>
						<li id="gacha_menu_show_button" class="menu_item">おみくじ（1）</li>
						<li id="save_button" class="menu_item">セーブ</li>
						<li id="option_button" class="menu_item">オプション</li>
						<li id="epilogue_button" class="hidden menu_item">エピローグ</li>
						<li id="omake_button" class="hidden menu_item">おまけ</li>
						<li id="rest_button" class="hidden menu_item">休憩</li>
					</ul>
				</div>
				<div id="character_data_area" class="shadow_background">
					<div id="condition_area_siro">
						<div class="name_lv_area">
							<span>しろこ：</span><br>
							<span>　</span><span class="lv_show_area" id="lv_siro">123</span><span> Lv</span>
						</div>
						<div class="gauge_area">
							<div class="hp_show_area">
								<div class="hp_gauge_max" id="hp_gauge_max_siro"></div>
								<div class="hp_gauge_now" id="hp_gauge_now_siro"></div>
								<div class="condition_text">
									<span class="condition_index">HP</span>
									<span class="mini_param_unit">:</span>
									<span  class="condition_value" id="hp_siro">12345</span>
									<span class="mini_param_unit">/</span>
									<span class="condition_value" id="hp_max_siro">34567</span>
								</div>
							</div>
							<div class="exp_show_area">
								<div class="exp_gauge_max" id="exp_gauge_max_siro"></div>
								<div class="exp_gauge_now" id="exp_gauge_now_siro"></div>
								<div class="condition_text">
									<span class="condition_index">EXP</span>
									<span class="mini_param_unit">:</span>
									<span class="condition_value" id="exp_siro">99</span>
									<span class="mini_param_unit">/</span>
									<span class="condition_value">100</span>							
								</div>
							</div>
						</div>
					</div>

					<div id="condition_area_kuro">
						<div class="name_lv_area">
							<span>くろこ：</span><br>
							<span>　</span><span  class="lv_show_area" id="lv_kuro">123</span><span> Lv</span>
						</div>
						<div class="gauge_area">
							<div class="hp_show_area">
								<div class="hp_gauge_max" id="hp_gauge_max_kuro"></div>
								<div class="hp_gauge_now" id="hp_gauge_now_kuro"></div>
								<div class="condition_text">
									<span class="condition_index">HP</span>
									<span class="mini_param_unit">:</span>
									<span  class="condition_value" id="hp_kuro">12345</span>
									<span class="mini_param_unit">/</span>
									<span class="condition_value" id="hp_max_kuro">34567</span>						
								</div>
							</div>
							<div class="exp_show_area">
								<div class="exp_gauge_max" id="exp_gauge_max_kuro"></div>
								<div class="exp_gauge_now" id="exp_gauge_now_kuro"></div>
								<div class="condition_text">
									<span class="condition_index">EXP</span>
									<span class="mini_param_unit">:</span>
									<span class="condition_value" id="exp_kuro">99</span>
									<span class="mini_param_unit">/</span>
									<span class="condition_value">100</span>							
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="message_log_area" class="shadow_background">
					<div id="message_log_queue_dummy"></div>
					<ul id="message_logs"></ul>
				</div>
				<div id="mini_game_area" class="shadow_background">
					<div class="ceiling"></div>
					<div class="floor"></div>
					<div id="character"><img src="images/neko/minigame/siro.png" id="charagter_image"><div id="buee">ぶえー</div></div>
					<ul id="obstacles">
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
						<div class="obstacle"></div>
					</ul>
					<div id="mini_game_title">イガイガヨケ</div>
					<div id="jump">はじめる</div>
					<div id="score_area"><span>　　スコア：</span><span id="score">0</span></div>
					<div id="high_score_area"><span>ハイスコア：</span><span id="high_score">0</span></div>
					<div id="score_popup">
						<img src="images/neko/icons/coin.png" id="score_coin">
						<div id="earned_coin_value">+12</div>
					</div>
					<div id="score_popup_powder">
						<img src="images/neko/icons/powder.png" id="score_powder">
						<div id="earned_powder_value">+12</div>
					</div>
				</div>
				<div id="shop_button" class="hidden">
					<img src="images/neko/etc/shop_button.png"  id="shop_button_image">
					<img src="images/neko/etc/shop_button_new.png"  id="shop_button_image_new" class="new">
				</div>

				<div id="window_frame">
		<!-- フレーム置くとボタンが押せなくなる(当たり前)なのでなんか対処考えつくまで保留
			<img src="images/neko/etc/frame.png" id="window_frame_image">
		-->
	</div>
	<img src="images/neko/sprite/battle/all.png" id="sprite_image" class="hidden">
	<div id="sprite_area">
		<div id="item_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/item/background.png" class="sprite" id="sprite_item_background">
			<img src="images/neko/sprite/item/kuro.png" class="sprite" id="sprite_item_kuro">
			<img src="images/neko/sprite/item/siro.png" class="sprite" id="sprite_item_siro">
			<img src="images/neko/sprite/item/treasure.png" class="sprite" id="sprite_item_treasure">
			<img src="images/neko/sprite/item/text_window_item.png" class="sprite" id="sprite_item_text">
		</div>
		<div id="powder_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/powder/background.png" class="sprite" id="sprite_powder_background">
			<img src="images/neko/sprite/powder/faily.png" class="sprite" id="sprite_powder_faily">
			<img src="images/neko/sprite/powder/kuro_hand.png" class="sprite" id="sprite_powder_kuro_hand">
			<img src="images/neko/sprite/powder/kuro.png" class="sprite" id="sprite_powder_kuro">
			<img src="images/neko/sprite/powder/dish.png" class="sprite" id="sprite_powder_dish">
			<img src="images/neko/sprite/powder/feather.png" class="sprite" id="sprite_powder_feather">
			<img src="images/neko/sprite/powder/powder.png" class="sprite" id="sprite_powder_powder">
			<img src="images/neko/sprite/powder/light.png" class="sprite" id="sprite_powder_light">
			<img src="images/neko/sprite/powder/text.png" class="sprite" id="sprite_powder_text">
		</div>
		<div id="boss_battle_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/boss_battle/background.png" class="sprite" id="sprite_boss_battle_background">
			<img src="images/neko/sprite/boss_battle/boss.png" class="sprite" id="sprite_boss_battle_boss">
			<img src="images/neko/sprite/boss_battle/siro.png" class="sprite" id="sprite_boss_battle_siro">
			<img src="images/neko/sprite/boss_battle/kuro.png" class="sprite" id="sprite_boss_battle_kuro">
		</div>
		<div id="battle_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/battle/background.png" class="sprite" id="sprite_battle_background">
			<img src="images/neko/sprite/battle/enemy3.png" class="sprite" id="sprite_battle_enemy3">
			<img src="images/neko/sprite/battle/kuro.png" class="sprite" id="sprite_battle_kuro">
			<img src="images/neko/sprite/battle/enemy2.png" class="sprite" id="sprite_battle_enemy2">
			<img src="images/neko/sprite/battle/enemy1.png" class="sprite" id="sprite_battle_enemy1">
			<img src="images/neko/sprite/battle/siro.png" class="sprite" id="sprite_battle_siro">
			<img src="images/neko/sprite/battle/text_window_battle.png" class="sprite" id="sprite_battle_text">
		</div>
		<div id="faily_battle_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/faily_battle/background.png" class="sprite" id="sprite_faily_battle_background">
			<img src="images/neko/sprite/faily_battle/0.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily0">
			<img src="images/neko/sprite/faily_battle/1.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily1">
			<img src="images/neko/sprite/faily_battle/2.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily2">
			<img src="images/neko/sprite/faily_battle/3.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily3">
			<img src="images/neko/sprite/faily_battle/4.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily4">
			<img src="images/neko/sprite/faily_battle/5.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily5">
			<img src="images/neko/sprite/faily_battle/6.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily6">
			<img src="images/neko/sprite/faily_battle/7.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily7">
			<img src="images/neko/sprite/faily_battle/8.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily8">
			<img src="images/neko/sprite/faily_battle/9.png" class="sprite sprite_faily_battle_faily" id="sprite_faily_battle_faily9">
			<div id="sprite_faily_battle_mark_window"></div>
			<img src="images/neko/sprite/faily_battle/0-mark-blur.png" class="sprite" id="sprite_faily_battle_mark_blur">
			<img src="images/neko/sprite/faily_battle/0-mark.png" class="sprite" id="sprite_faily_battle_mark">
			<img src="images/neko/sprite/faily_battle/text.png" class="sprite" id="sprite_faily_battle_text">
			<img src="images/neko/sprite/faily_battle/screen.png" class="sprite" id="sprite_faily_battle_screen">
		</div>
		<div id="battle_win_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/battle/win/background.png" class="sprite" id="sprite_battle_win_background">
			<img src="images/neko/sprite/battle/win/star.png" class="sprite" id="sprite_battle_win_star">
			<img src="images/neko/sprite/battle/win/kuro.png" class="sprite" id="sprite_battle_win_kuro">
			<img src="images/neko/sprite/battle/win/siro.png" class="sprite" id="sprite_battle_win_siro">
			<img src="images/neko/sprite/battle/win/win_filter.png" class="sprite" id="sprite_battle_win_filter">
			<img src="images/neko/sprite/battle/win/win_text.png" class="sprite" id="sprite_battle_win_text">
		</div>
		<div id="battle_lose_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/battle/lose/background.png" class="sprite" id="sprite_battle_lose_background">
			<img src="images/neko/sprite/battle/lose/kuro.png" class="sprite" id="sprite_battle_lose_kuro">
			<img src="images/neko/sprite/battle/lose/siro.png" class="sprite" id="sprite_battle_lose_siro">
			<img src="images/neko/sprite/battle/lose/lose_filter.png" class="sprite" id="sprite_battle_lose_filter">
			<img src="images/neko/sprite/battle/lose/lose_text.png" class="sprite" id="sprite_battle_lose_text">
		</div>
		<div id="stairs_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/stairs/background.png" class="sprite" id="sprite_stairs_background">
			<img src="images/neko/sprite/stairs/siro.png" class="sprite" id="sprite_stairs_siro">
			<img src="images/neko/sprite/stairs/kuro.png" class="sprite" id="sprite_stairs_kuro">
			<img src="images/neko/sprite/stairs/text_window_stairs.png" class="sprite" id="sprite_stairs_text">
		</div>
		<div id="resurrect_sprite" class="hidden sprite_unit">
			<img src="images/neko/sprite/resurrect/background.png" class="sprite" id="sprite_resurrect_background">
			<img src="images/neko/sprite/resurrect/siro_dead.png" class="sprite" id="sprite_resurrect_siro_dead">
			<img src="images/neko/sprite/resurrect/siro_alive.png" class="sprite" id="sprite_resurrect_siro_alive">
			<img src="images/neko/sprite/resurrect/kuro_dead.png" class="sprite" id="sprite_resurrect_kuro_dead">
			<img src="images/neko/sprite/resurrect/kuro_alive.png" class="sprite" id="sprite_resurrect_kuro_alive">
			<img src="images/neko/sprite/resurrect/light.png" class="sprite light" id="sprite_resurrect_light">
			<img src="images/neko/sprite/resurrect/text_window.png" class="sprite" id="sprite_resurrect_text">
		</div>
	</div>

	<div id="ressurection_light" class="hidden">にゃにゃ</div>
	<div id="ressurection_overlay" class="hidden">にゃあん！</div>

	<div id="dungeon_select_menu" class="hidden shadow_background">
		<div id="dungeon_select_back_button" class="back_button"></div>
		<div id="dungeon_menu_text">次元層選択</div>
		<ul class="shadow_background" id="dungeon_list">
			<li class="dungeon_item star_background" stage_id="0">ダンジョンいっこめ</li>
			<li class="dungeon_item star_background" stage_id="1">ダンジョンにこめ</li>
			<li class="dungeon_item star_background" stage_id="2">ダンジョンさんこめ</li>
			<li class="dungeon_item star_background" stage_id="3">ダンジョンよんこめ</li>
			<li class="dungeon_item star_background" stage_id="4">ダンジョンいつつめ</li>
		</ul>
		<img src="images/neko/bg/st1.png" id="dungeon_select_preview_image">
		<div class="shadow_background" id="dungeon_detail_area">
			<div id="dungeon_detail_name">ダンジョンの名前がここに</div>
			<div id="dungeon_detail_text">すご～く暗くて深い闇のそこに育つ草を抜きにいこう。</div>
		</div>

		<div class="shadow_background" id="dungeon_detail_decide_area">
			<div id="dungeon_detail_total_floor_area">
				<span class="floor_text">深さ:</span>
				<span id="dungeon_detail_total_floor">100</span>
				<span class="floor_text">F</span>
			</div>

			<div id="dungeon_detail_completed_floor_area">
				<span class="floor_text">到達:</span>
				<span id="dungeon_detail_completed_floor">23</span>
				<span class="floor_text">F</span>
			</div>

			<div id="dungeon_decide_button">潜る</div>

			<div id="depth_select_area">
				<span id="dungeon_decide_current_depth">1</span>
				<span class="floor_text">F</span>				
			</div>

			<div id="depth_increment_area">
				<span id="depth_plus_100" class="depth_select_button">▲</span>
				<span id="depth_plus_10" class="depth_select_button">▲</span>
				<span id="depth_plus_1" class="depth_select_button">▲</span>
			</div>

			<div id="depth_decrement_area">
				<span id="depth_minus_100" class="depth_select_button">▼</span>
				<span id="depth_minus_10" class="depth_select_button">▼</span>
				<span id="depth_minus_1" class="depth_select_button">▼</span>
			</div>
		</div>
	</div>

	<div id="status_menu" class="hidden">
		<div id="status_show_text">ステータス</div>
		<img src="images/neko/chara/siro_active.png" id="status_character_siro">
		<img src="images/neko/chara/kuro_active.png" id="status_character_kuro">
		<div id="status_back_button" class="back_button"></div>
		<ul id="status_siro">
			<li class="status star_background">
				<span class="status_index">LV</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background">
				<span class="status_index">HP</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background">
				<span class="status_index">STR</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background">
				<span class="status_index">DEX</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background">
				<span class="status_index">DEF</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background">
				<span class="status_index">AGI</span>
				<span class="status_value">-</span>
			</li>
		</ul>
		<ul id="status_kuro">
			<li class="status star_background_rev">
				<span class="status_index">LV</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background_rev">
				<span class="status_index">HP</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background_rev">
				<span class="status_index">STR</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background_rev">
				<span class="status_index">DEX</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background_rev">
				<span class="status_index">DEF</span>
				<span class="status_value">-</span>
			</li>
			<li class="status star_background_rev">
				<span class="status_index">AGI</span>
				<span class="status_value">-</span>
			</li>
		</ul>
		<div id="playtime_area">
			<div id="playtime_text">プレイ時間</div>
			<div id="playtime">
				<span id="playhour">12</span>
				<span>:</span>
				<span id="playminutes">12</span>
				<span>:</span>
				<span id="playseconds">12</span>				
			</div>
		</div>
		<ul id="achievement_icons_area" class="star_background">
			<li class="achievement_icon"><img src="images/neko/achievement/0.png" achievement_id="0" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/1.png" achievement_id="1" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/2.png" achievement_id="2" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/3.png" achievement_id="3" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/4.png" achievement_id="4" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/5.png" achievement_id="5" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/6.png" achievement_id="6" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/7.png" achievement_id="7" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/8.png" achievement_id="8" class="achievement_icon_image"></li>
			<li class="achievement_icon"><img src="images/neko/achievement/9.png" achievement_id="9" class="achievement_icon_image"></li>
		</ul>
		<ul id="equip_siro">
			<li class="status_equip_item light_background">-</li>
			<li class="status_equip_item light_background">-</li>
			<li class="status_equip_item light_background">-</li>
			<li class="status_equip_item light_background">-</li>
		</ul>
		<ul id="equip_kuro">
			<li class="status_equip_item light_background_rev">-</li>
			<li class="status_equip_item light_background_rev">-</li>
			<li class="status_equip_item light_background_rev">-</li>
			<li class="status_equip_item light_background_rev">-</li>
		</ul>
		<ul id="status_achievement_list">
			<li class="achievement_item light_background">
				<span class="achievement_title">発見アイテム数</span>
				<span id="achievement_item_found" class="achievement_procedure">68</span>
			</li>
			<li class="achievement_item light_background">
				<span class="achievement_title">最大強化したアイテム数</span>
				<span id="achievement_item_builded" class="achievement_procedure">5</span>
			</li>
			<li class="achievement_item light_background">
				<span class="achievement_title">コイン総取得枚数</span>
				<span id="achievement_coin_earned" class="achievement_procedure">2</span>
			</li>
			<li class="achievement_item light_background">
				<span class="achievement_title">最深到達階数</span>
				<span id="achievement_depth" class="achievement_procedure">43F</span>
			</li>
		</ul>
		<div id="achievement_detail_area" class="hidden">
			<img src="images/neko/achievement/1.png" id="achievement_detail_icon">
			<div id="achievement_icon_title">100万匹の死骸</div>
			<div id="achievement_icon_description">しろことくろこの死亡回数が1000000回を突破した。</div>
			<div id="achievement_progress">
				<span id="current_achievement_progress">524282</span>
				<span>/</span>
				<span id="max_achievement_progress">1000000</span>
			</div>
		</div>
	</div>

	<div id="option_menu" class="shadow_background hidden">
		<img src="images/neko/etc/option_background.png" id="option_background">
		<div id="option_show_text">オプション</div>
		<div id="option_back_button" class="back_button"></div>
		<ul id="option_container">
			<div id="option_animation_on" class="option_item">
				<div class="option_index">イベント時にアニメーションを再生する</div>
				<div class="option_description">かなり軽くなりますが、とてもさみしくなります</div>
				<div id="enable_event_animation" class="option_value">☑</div>
			</div>
			<div id="option_loitering_on" class="option_item">
				<div class="option_index">キャラの歩行</div>
				<div class="option_description">すこしだけ軽くなりますが、さみしくなります</div>
				<div id="enable_loitering" class="option_value">☑</div>
			</div>
			<div id="option_scroll_background" class="option_item">
				<div class="option_index">背景をスクロールさせる</div>
				<div class="option_description">ほんのすこしだけ軽くなりますが、さみしくなります</div>
				<div id="enable_scroll_background" class="option_value">☑</div>
			</div>
			<div id="option_notification" class="option_item">
				<div class="option_index">通知を行う</div>
				<div class="option_description">全滅時やダンジョン踏破時にポコッと通知を表示してくれます</div>
				<div id="enable_notification" class="option_value">☑</div>
			</div>
		</ul>
		<div id="notitication_setting_text">通知の個別設定：</div>
		<div id="notification_setting_cointainer">
			<div id="notification_death" class="notification_item">
				<span class="notification_index">全滅時にお知らせする</span>
				<span class="notification_value">☑</span>
			</div>
			<div id="notification_clear" class="notification_item">
				<span class="notification_index">ダンジョン踏破時にお知らせする</span>
				<span class="notification_value">☑</span>
			</div>
			<div id="notification_freespin" class="notification_item">
				<span class="notification_index">フリーおみくじが引けるようになったとき</span>
				<span class="notification_value">☑</span>
			</div>
			<div id="notification_jihou" class="notification_item">
				<span class="notification_index">かわいい時報</span>
				<span class="notification_value">☑</span>
			</div>
		</div>
	</div>
	<!--装備メニューエリア-->
	<div id="equipment_menu" class="hidden shadow_background">
		<div id="equip_menu_text">装備</div>
		<img src="images/neko/chara/siro_active.png" id="equip_charagter_image">
		<div id="equip_character_toggle_button">
			<img src="images/neko/icons/change_chara.png"  id="change_chara_image">
		</div>
		<div id="equip_select_area" class="shadow_background">
			<div id="pager">
				<span id="equip_pager_page_text">ページ</span>
				<span id="current_page">1</span>
				<span id="pager_sepalator">/</span>
				<span id="total_page">23</span>
			</div>
			<div id="pager_button_area">
				<span class="pager_button" id="pager_button_prev_10">◁◁</span>
				<span class="pager_button" id="pager_button_prev">◀</span>
				<span class="pager_button" id="pager_button_next">▶</span>
				<span class="pager_button" id="pager_button_next_10">▷▷</span>
			</div>
			<div id="sort_toggle_menu_open_button">[ID順]</div>

			<div id="equip_coin_show_area">
				<img src="images/neko/icons/coin.png" id="equip_area_coin_icon">
				<span id="equip_coin_amount">120</span>
			</div>
			<ul id="equipment_list">
				<li class="equip_item">
					<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
					<span class="equip_list_text">棒きれ</span>
					<span class="equip_list_param">-</span>
					<div class="param_digest_icon_container">
						<div class="param_digest param_digest_str"></div>
						<div class="param_digest param_digest_dex"></div>
						<div class="param_digest param_digest_def"></div>
						<div class="param_digest param_digest_agi"></div>
					</div>
					<span class="equip_build_button">強化</span>
				</li>
				<li class="equip_item">
					<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
					<span class="equip_list_text">棒きれ</span>
					<span class="equip_list_param">-</span>
					<div class="param_digest_icon_container">
						<div class="param_digest param_digest_str"></div>
						<div class="param_digest param_digest_dex"></div>
						<div class="param_digest param_digest_def"></div>
						<div class="param_digest param_digest_agi"></div>
					</div>
					<span class="equip_build_button">強化</span>
				</li>
				<li class="equip_item">
					<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
					<span class="equip_list_text">棒きれ</span>
					<span class="equip_list_param">-</span>
					<div class="param_digest_icon_container">
						<div class="param_digest param_digest_str"></div>
						<div class="param_digest param_digest_dex"></div>
						<div class="param_digest param_digest_def"></div>
						<div class="param_digest param_digest_agi"></div>
					</div>
					<span class="equip_build_button">強化</span>
				</li>
				<li class="equip_item">
					<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
					<span class="equip_list_text">棒きれ</span>
					<span class="equip_list_param">-</span>
					<div class="param_digest_icon_container">
						<div class="param_digest param_digest_str"></div>
						<div class="param_digest param_digest_dex"></div>
						<div class="param_digest param_digest_def"></div>
						<div class="param_digest param_digest_agi"></div>
					</div>
					<span class="equip_build_button">強化</span>
				</li>
				<li class="equip_item">
					<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
					<span class="equip_list_text">棒きれ</span>
					<span class="equip_list_param">-</span>
					<div class="param_digest_icon_container">
						<div class="param_digest param_digest_str"></div>
						<div class="param_digest param_digest_dex"></div>
						<div class="param_digest param_digest_def"></div>
						<div class="param_digest param_digest_agi"></div>
					</div>
					<span class="equip_build_button">強化</span>
				</li>
				<li class="equip_item">
					<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
					<span class="equip_list_text">棒きれ</span>
					<span class="equip_list_param">-</span>
					<div class="param_digest_icon_container">
						<div class="param_digest param_digest_str"></div>
						<div class="param_digest param_digest_dex"></div>
						<div class="param_digest param_digest_def"></div>
						<div class="param_digest param_digest_agi"></div>
					</div>
					<span class="equip_build_button">強化</span>
				</li>
				<li class="equip_item">
					<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
					<span class="equip_list_text">棒きれ</span>
					<span class="equip_list_param">-</span>
					<div class="param_digest_icon_container">
						<div class="param_digest param_digest_str"></div>
						<div class="param_digest param_digest_dex"></div>
						<div class="param_digest param_digest_def"></div>
						<div class="param_digest param_digest_agi"></div>
					</div>
					<span class="equip_build_button">強化</span>
					<li class="equip_item">
						<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
						<span class="equip_list_text">棒きれ</span>
						<span class="equip_list_param">-</span>
						<div class="param_digest_icon_container">
							<div class="param_digest param_digest_str"></div>
							<div class="param_digest param_digest_dex"></div>
							<div class="param_digest param_digest_def"></div>
							<div class="param_digest param_digest_agi"></div>
						</div>
						<span class="equip_build_button">強化</span>
					</li>
					<li class="equip_item">
						<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
						<span class="equip_list_text">棒きれ</span>
						<span class="equip_list_param">-</span>
						<div class="param_digest_icon_container">
							<div class="param_digest param_digest_str"></div>
							<div class="param_digest param_digest_dex"></div>
							<div class="param_digest param_digest_def"></div>
							<div class="param_digest param_digest_agi"></div>
						</div>
						<span class="equip_build_button">強化</span>
					</li>
					<li class="equip_item">
						<img src="images/neko/icons/unachieved.png" class="equip_list_icon">
						<span class="equip_list_text">棒きれ</span>
						<span class="equip_list_param">-</span>
						<div class="param_digest_icon_container">
							<div class="param_digest param_digest_str"></div>
							<div class="param_digest param_digest_dex"></div>
							<div class="param_digest param_digest_def"></div>
							<div class="param_digest param_digest_agi"></div>
						</div>
						<span class="equip_build_button">強化</span>
					</li>
				</ul>
				<div id="equip_detail_area" class="shadow_background">
					<img src="images/neko/icons/unachieved.png" id="equipment_detail_icon">
					<div id="equip_detail_name">---</div>
					<div id="equip_param_area">
						<ul id="equip_param_list">
							<li class="param_unit">
								<span class="status_text">TOTAL</span>
								<span id="status_detail_total" class="status_param">+10</span>
							</li>
							<li class="param_unit">
								<span class="status_text">STR</span>
								<span id="status_detail_str" class="status_param">+10</span>
							</li>
							<li class="param_unit">
								<span class="status_text">DEX</span>
								<span id="status_detail_dex" class="status_param">+10</span>
							</li>
							<li class="param_unit">
								<span class="status_text">DEF</span>
								<span id="status_detail_def" class="status_param">+10</span>
							</li>
							<li class="param_unit">
								<span class="status_text">AGI</span>
								<span id="status_detail_agi" class="status_param">+10</span>
							</li>
						</ul>
						<div id="flavor_text">おいしそうなスパゲッティのサンプルだ。投げて使う。</div>	
					</div>
				</div>

				<div id="sort_cancel" class="hidden"></div>
				<!--zindexを使わずに重なり順を制御したいのでこの位置に記述-->
				<div id="sort_toggle_popup" class="hidden shadow_background">
					<div id="sort_change_text">ソート順切り替え</div>
					<div id="sort_toggle_box">
						<div class="sort_toggle_button" id="sort_to_power">[つよさ順]</div>
						<div class="sort_toggle_button" id="sort_to_id">[ID順]</div>
						<div class="sort_toggle_button" id="sort_to_atk">[攻順]</div>
						<div class="sort_toggle_button" id="sort_to_sld">[守順]</div>
						<div class="sort_toggle_button" id="sort_to_str">[STR順]</div>
						<div class="sort_toggle_button" id="sort_to_dex">[DEX順]</div>
						<div class="sort_toggle_button" id="sort_to_def">[DEF順]</div>
						<div class="sort_toggle_button" id="sort_to_agi">[AGI順]</div>
					</div>
				</div>
			</div>
			<div id="equipment_back_button" class="back_button"></div>
			<div id="equipment_back_info_text" class="shadow_background">装備ウィンドウを閉じます。</div>
			<div id="character_status_area" class="shadow_background">
				<ul id="current_equip_list">
					<li class="current_equip_item equip_first shadow_background star_background" item_id="">
						<span class="current_equip_text">-</span>
						<div class="param_digest_icon_container current_equip_digest">
							<div class="param_digest param_digest_str"></div>
							<div class="param_digest param_digest_dex"></div>
							<div class="param_digest param_digest_def"></div>
							<div class="param_digest param_digest_agi"></div>						
						</div>
					</li>
					<li class="current_equip_item equip_second  shadow_background star_background" item_id="">
						<span class="current_equip_text">-</span>
						<div class="current_equip_digest param_digest_icon_container">
							<div class="param_digest param_digest_str"></div>
							<div class="param_digest param_digest_dex"></div>
							<div class="param_digest param_digest_def"></div>
							<div class="param_digest param_digest_agi"></div>						
						</div>						
					</li>
					<li class="current_equip_item equip_third  shadow_background star_background" item_id="">
						<span class="current_equip_text">-</span>
						<div class="current_equip_digest param_digest_icon_container">
							<div class="param_digest param_digest_str"></div>
							<div class="param_digest param_digest_dex"></div>
							<div class="param_digest param_digest_def"></div>
							<div class="param_digest param_digest_agi"></div>						
						</div>						
					</li>
					<li class="current_equip_item equip_fourth  shadow_background star_background" item_id="">
						<span class="current_equip_text">-</span>
						<div class="current_equip_digest param_digest_icon_container">
							<div class="param_digest param_digest_str"></div>
							<div class="param_digest param_digest_dex"></div>
							<div class="param_digest param_digest_def"></div>
							<div class="param_digest param_digest_agi"></div>						
						</div>						
					</li>
				</ul>
				<div id="status_show_area">
					<ul id="status_list">
						<li class="status_unit">
							<span class="status_text">STR</span>
							<span id="status_total_str" class="status_param">10</span>
							<span id="status_diff_str" class="status_param_diff"></span>
						</li>
						<li class="status_unit">
							<span class="status_text">DEX</span>
							<span id="status_total_dex" class="status_param">10</span>
							<span id="status_diff_dex" class="status_param_diff"></span>
						</li>
						<li class="status_unit">
							<span class="status_text">DEF</span>
							<span id="status_total_def" class="status_param">10</span>
							<span id="status_diff_def" class="status_param_diff"></span>
						</li>
						<li class="status_unit">
							<span class="status_text">AGI</span>
							<span id="status_total_agi" class="status_param">10</span>
							<span id="status_diff_agi" class="status_param_diff"></span>
						</li>
					</ul>
					<img src="images/neko/etc/goryu.png" id="goryu_arrow_atk">
					<img src="images/neko/etc/goryu.png" id="goryu_arrow_def">
					<div id="atk_text">攻</div>
					<div id="atk_value">321254</div>
					<div id="def_text">守</div>
					<div id="def_value">887623</div>
					<div id="enemy_rank_show_area">
						<span class="enemy_rank_show_text">この辺りの敵の攻撃力：</span>
						<span id="current_enemy_atk">99999</span>
					</div>
				</div>
			</div>
			<div id="equip_build_popup_area" class="hidden shadow_background popup">
				<div id="equip_build_popup_text">装備強化</div>
				<div id="equip_build_popup_quit_button" class="back_button"></div>
				<div id="build_amount_coin_have_show_area">
					<img src="images/neko/icons/coin.png" class="coin_icon">
					<span id="coin_amount">876</span>
				</div>
				<div id="equip_build_item_name_area">
					<span class="equip_name">超絶はがねのつるぎ</span>
					<span id="build_plus_area">
						<span class="build_prev">+7</span>
						<span class="build_sepalator">→</span>
						<span class="build_after">+8</span>						
					</span>
				</div>
				<ul id="equip_build_param_list">
					<li class="build_param_item">
						<span class="build_index">STR</span>
						<span class="param_prev">0</span>
						<span class="build_sepalator">→</span>
						<span class="param_after">0</span>
						<span class="build_sepalator">　(</span>
						<span class="param_diff">+0</span>
						<span class="build_sepalator">)</span>
					</li>
					<li class="build_param_item">
						<span class="build_index">DEX</span>
						<span class="param_prev">0</span>
						<span class="build_sepalator">→</span>
						<span class="param_after">0</span>
						<span class="build_sepalator">　(</span>
						<span class="param_diff">+0</span>
						<span class="build_sepalator">)</span>
					</li>
					<li class="build_param_item">
						<span class="build_index">DEF</span>
						<span class="param_prev">0</span>
						<span class="build_sepalator">→</span>
						<span class="param_after">0</span>
						<span class="build_sepalator">　(</span>
						<span class="param_diff">+0</span>
						<span class="build_sepalator">)</span>
					</li>
					<li class="build_param_item">
						<span class="build_index">AGI</span>
						<span class="param_prev">0</span>
						<span class="build_sepalator">→</span>
						<span class="param_after">0</span>
						<span class="build_sepalator">　(</span>
						<span class="param_diff">+0</span>
						<span class="build_sepalator">)</span>
					</li>
				</ul>
				<div class="hidden" id="unachieved_item_text">このアイテムを生成します</div>
				<div id="build_decide_button">
					<span id="build_decide_text">強化</span>
					<img src="images/neko/icons/coin.png" class="coin_icon">
					<span id="build_cost">143</span>
				</div>
			</div>
		</div>

		<div id="equip_result_fade_cover" class="hidden"></div>
		<div id="equip_result_animation_dummy"></div>
		<div id="equip_edit_result_popup" class="hidden shadow_background">
			<img src="images/neko/chara/siro_active.png" id="result_image_siro">
			<img src="images/neko/chara/kuro_active.png" id="result_image_kuro">
			<div id="equip_result_show_text">装備編集結果</div>
			<div id="equip_edit_cancel_button">編集を破棄</div>
			<div id="equip_edit_complete_button">編集を確定</div>
			<div id="equip_result_siro">
				<div class="star_background_rev equip_result">
					<span class="equip_result_param_index">STR</span>
					<span id="equip_before_siro_str" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_siro_str" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_siro_str" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
				<div class="star_background_rev equip_result">
					<span class="equip_result_param_index">DEX</span>
					<span id="equip_before_siro_dex" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_siro_dex" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_siro_dex" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
				<div class="star_background_rev equip_result">
					<span class="equip_result_param_index">DEF</span>
					<span id="equip_before_siro_def" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_siro_def" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_siro_def" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
				<div class="star_background_rev equip_result">
					<span class="equip_result_param_index">AGI</span>
					<span id="equip_before_siro_agi" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_siro_agi" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_siro_agi" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
			</div>
			<div id="equip_result_kuro">
				<div class="star_background equip_result">
					<span class="equip_result_param_index">STR</span>
					<span id="equip_before_kuro_str" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_kuro_str" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_kuro_str" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
				<div class="star_background equip_result">
					<span class="equip_result_param_index">DEX</span>
					<span id="equip_before_kuro_dex" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_kuro_dex" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_kuro_dex" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
				<div class="star_background equip_result">
					<span class="equip_result_param_index">DEF</span>
					<span id="equip_before_kuro_def" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_kuro_def" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_kuro_def" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
				<div class="star_background equip_result">
					<span class="equip_result_param_index">AGI</span>
					<span id="equip_before_kuro_agi" class="equip_result_value">999999</span>
					<span class="equip_result_separator">→</span>
					<span id="equip_after_kuro_agi" class="equip_result_value">999999</span>
					<span class="equip_result_parenthesis">(</span>
					<span id="equip_diff_kuro_agi" class="equip_result_value"> +999999</span>
					<span class="equip_result_parenthesis">)</span>
				</div>
			</div>
		</div>
		<div id="gacha_menu" class="hidden">
			<div id="gacha_show_text">おみくじ</div>
			<div id="gacha_back_button" class="back_button"></div>
			<div id="gacha_description">
				一回コイン200枚でランダムなアイテムを獲得できます。<br>
				現在の階層では手に入らない高ランク・高強化値アイテムが出現します。<br>
				(いわゆる「ガチャ限装備」は存在しません。すべてのアイテムは塔で拾えます。)<br>
			</div>
			<div id="gacha_sprite">
				<img src="images/neko/sprite/gacha/background.png" class="sprite" id="sprite_gacha_background">
				<ul id="mikuji_stick_list">
				</ul>
				<img src="images/neko/sprite/gacha/mikuji.png" class="sprite" id="sprite_gacha_mikuji">
				<img src="images/neko/sprite/gacha/kuro.png" class="sprite" id="sprite_gacha_kuro">
				<img src="images/neko/sprite/gacha/siro.png" class="sprite" id="sprite_gacha_siro">
				<img src="images/neko/sprite/gacha/kuro_daki.png" class="sprite" id="sprite_gacha_kuro_daki">
				<img src="images/neko/sprite/gacha/siro_daki.png" class="sprite" id="sprite_gacha_siro_daki">
				<div id="gacha_result_fade">も</div>
				<img src="images/neko/sprite/gacha/result_background.png" id="gacha_result_background">
				<div id="gacha_result_area" class="hidden shadow_background">
					<div id="gacha_result">
					</div>
					<div id="gacha_result_text">おみくじ結果</div>
					<div id="gacha_result_back_button" class="back_button"></div>
				</div>
			</div>
			<div id="gacha_rate_area" class="shadow_background">
				<div class="gacha_rate_item star_background_rev">
					<span class="gacha_rate_index">★</span>
					<span class="gacha_rate_value">7.00%</span>
				</div>
				<div class="gacha_rate_item star_background_rev">
					<span class="gacha_rate_index">☆</span>
					<span class="gacha_rate_value">15.00%</span>
				</div>
				<div class="gacha_rate_item star_background_rev">
					<span class="gacha_rate_index">*</span>
					<span class="gacha_rate_value">23.00%</span>
				</div>
				<div class="gacha_rate_item star_background_rev">
					<span class="gacha_rate_index">○</span>
					<span class="gacha_rate_value">55.00%</span>
				</div>
			</div>

			<div id="gacha_coin_area" class="shadow_background">
				<img src="images/neko/icons/coin.png" id="gacha_coin_icon">
				<span id="gacha_coin_show_area">9999</span>
			</div>

			<div id="gacha_take_button" class=" free_spin_available gacha_button_template">
				<div class="gacha_button_index">1回引く</div>
				<img src="images/neko/icons/coin.png" class="gacha_cost_icon">
				<div class="gacha_button_value">無料</div>
			</div>

			<div id="gacha_take_10_button" class="gacha_button_template">
				<div class="gacha_button_index">10回引く</div>
				<img src="images/neko/icons/coin.png" class="gacha_cost_icon">
				<div class="gacha_button_value">2000</div>
			</div>

			<div id="next_free_gacha_area">
				<span>次のフリーおみくじまで：</span>
				<span id="next_free_gacha_time">9:38:10</span>
			</div>
		</div>

		<div id="save_menu" class="shadow_background hidden">
			<div id="save_show_text">セーブ管理</div>
			<div id="save_back_button" class="back_button"></div>
			<div id="save_description">
				<h2>セーブデータ出力</h2>
				<p>セーブデータをテキストに出力します。コピペで保存できます。</p>
				<p>(いわゆる<引き継ぎコード>ではなく、生のセーブデータをテキストの形で保存します。)</p>
				<textarea wrap="soft" id="save_data_area"></textarea>
				<h2>セーブデータ読み込み</h2>
				<p>保存したセーブデータを読み込みます。</p>
				<textarea wrap="soft" id="save_read_area"></textarea>
			</div>
			<div id="copy_to_clipboard" class="save_menu_btn">コピー</div>
			<div id="copied" class="hidden">クリップボードにコピーしました！</div>
			<div id="read_save_button" class="save_menu_btn">読込み</div>
			<div id="read_info">セーブ読込み確認画面が開きます。</div>
			<div id="save_read_error" class="hidden">セーブデータの認識に失敗しました。</div>
			<div id="save_read_confirm" class="hidden shadow_background">
				<div id="save_read_confirm_text">セーブ読込み確認</div>
				<div id="save_info_readed">
					<p>以下のセーブデータを読込みます。</h2>
						<p>しろこ：<span id="save_siro_lv">123</span>lv</p>
						<p>くろこ：<span id="save_kuro_lv">125</span>lv</p>
						<p>プレイ時間：<span id="save_playtime">231:22:09</span></p>
					</div>
					<div id="read_save_decide" class="save_menu_btn">読込む</div>
					<div id="read_save_cancel" class="save_menu_btn">やめる</div>
				</div>
			</div>

			<div id="shop_menu"  class="hidden shadow_background">
				<div id="shop_text">ピリカショップ</div>
				<img src="images/neko/etc/shop_back_button.png" id="shop_back_button">
				<img src="images/neko/etc/pirika.png" id="shop_pirika">
				<img src="images/neko/etc/words.png" id="shop_words_frame">
				<div id="pirika_caption"><span class="pirika_small">工房のクラフト妖精</span>　ピリカちゃん</div>
				<div id="shop_current_powder"><img src="images/neko/icons/powder.png"  id="current_powder_icon"><span id="current_powder_amount">0</span></div>
				<div id="shop_list_caption_area">
					<span id="shop_item_caption_name">アイテム名</span>
					<span id="shop_item_caption_power">つよさ</span>
					<span id="shop_item_caption_value">価格</span>
				</div>
				<div id="shop_item_list">
					<div class="shop_item" id="shop_item_0">
						<span class="shop_item_name">-</span><span class="shop_item_power">1123123</span><span class="shop_item_value"><img src="images/neko/icons/powder.png" class="shop_coin"><span class="shop_item_cost">1</span></span>
					</div>
					<div class="shop_item" id="shop_item_1">
						<span class="shop_item_name">-</span><span class="shop_item_power">1123123</span><span class="shop_item_value"><img src="images/neko/icons/powder.png" class="shop_coin"><span class="shop_item_cost">1</span></span>
					</div>
					<div class="shop_item" id="shop_item_2">
						<span class="shop_item_name">-</span><span class="shop_item_power">1123123</span><span class="shop_item_value"><img src="images/neko/icons/powder.png" class="shop_coin"><span class="shop_item_cost">1</span></span>
					</div>
					<div class="shop_item" id="shop_item_3">
						<span class="shop_item_name">-</span><span class="shop_item_power">1123123</span><span class="shop_item_value"><img src="images/neko/icons/powder.png" class="shop_coin"><span class="shop_item_cost">1</span></span>
					</div>
					<div class="shop_item" id="shop_item_4">
						<span class="shop_item_name">-</span><span class="shop_item_power">1123123</span><span class="shop_item_value"><img src="images/neko/icons/powder.png" class="shop_coin"><span class="shop_item_cost">1</span></span>
					</div>
				</div>
				<div id="shop_param_list">
					<div class="shop_param">
						<span class="shop_param_name">STR</span><span id="shop_param_value_str" class="shop_param_value">-</span>
					</div>
					<div class="shop_param">
						<span class="shop_param_name">DEX</span><span id="shop_param_value_dex" class="shop_param_value">-</span>
					</div>
					<div class="shop_param">
						<span class="shop_param_name">DEF</span><span id="shop_param_value_def" class="shop_param_value">-</span>
					</div>
					<div class="shop_param">
						<span class="shop_param_name">AGI</span><span id="shop_param_value_agi" class="shop_param_value">-</span>
					</div>
				</div>
				<div id="shop_item_flavor">-</div>
				<span id="item_refresh_text">品揃えをすぐに入れ替える：</span>
				<span id="item_refresh_coin_show_area"><span>本日残り：</span><span id="shop_refresh_last">5</span>回　<img src="images/neko/icons/coin.png" id="item_shop_coin_icon"><span id="item_shop_coin_amount">2229181</span></span>
				<div id="update_shop_item_button">
					<img src="images/neko/icons/coin.png" id="coin_icon_refresh">
					<span>2000</span>
				</div>
				<div id="pirika_dummy"></div>
				<div id="pirika_message"></div>
			</div>
			<div class="star_background_rev hidden" id="save_ticker">
				セーブしました。
			</div>

			<img src="images/neko/etc/extra.png" class="hidden" id="omake_image">

			<div id="epilogue" class="hidden">
				<div id="epilogue_dummy"></div>
				<img src="images/neko/epilogue/2.png" class="epilogue_illust" id="epilogue_1">
				<img src="images/neko/epilogue/1.png" class="epilogue_illust" id="epilogue_0">
				<div id="epilogue_text"></div>
			</div>

			<div id="tutorial" class="hidden shadow_background">
				<div id="tutorial_title"></div>
				<div id="tutorial_description"></div>
			</div>
			<div id="tutorial_click_cover" class="hidden"></div>

			<div id="fadeouter" class="hidden">
				<img src="images/neko/bg/st2.png" id="stage_background">
				<div id="stage_shadow"></div>
				<div id="stage_number">第三次元層</div>
				<div id="stage_change_end_button" class="pekapeka">click anywhere to proceed...</div>
				<div id="stage_title"><span id="title_prev">氷雪と春風の小</span><span class="last_letter">路</span></div>
				<div id="stage_description">
					密林を抜けると果ての見えない吹き抜けに出た。<br>
					僅かに上空から風が吹いているのを感じる。<br>
					空間の歪んだ塔内部では外界の空気を吸う術などないと諦めていたが、<br>
					この次元はどうやら外部と物理的につながっている領域もあるようだ。<br>
					外に繋がる窓を見つけたら手紙を落としてみよう、と、<br>
					久しく抱くことのなかった気楽な冒険気分を抱きつつ、一行は塔を登り続ける。
				</div>
				<div id="stage_change_tips_text">TIPS:</div>
				<div id="stage_change_tips">STRとDEXはバランスが大切です。それぞれの値が近いほど効率よく攻撃力が上がります。</div>
				<div id="changestage_click_cover"></div>
			</div>
			<div id="changestage_blight" class="hidden">
				<div class="whole_screen" id="blight_normal"></div>
				<div class="whole_screen" id="blight_screen"></div>
				<div class="whole_screen" id="blight_overlay"></div>
			</div>
			<div id="save_load_cover" class="hidden"></div>
		</div>
	</div>
</div>
</div>
<img src="images/neko/etc/loading_splash5.png" id="loading_splash">
<div id="death_ie" class="hidden">ごめんなさい。<br>しろことくろこの塔登るやつ は Internet Explorerでは動作しません。<br><a href="https://www.google.co.jp/chrome/browser/desktop/">Google Chrome</a>で遊ぶことを推奨しています。</div>
<div id="bug_report">
	<span id="version">
		制作：<a href="top">さーたはうす</a>　version : 2.08 　<a href="nekomanual#update">更新履歴</a>
	</span>
	<span id="wanna_report">
		感想・バグ報告は <a href="https://twitter.com/jyll">@jyll</a>か<a href="https://twitter.com/hashtag/%E3%81%97%E3%82%8D%E3%81%93%E3%81%A8%E3%81%8F%E3%82%8D%E3%81%93">#しろことくろこ</a>にお願いします。	
	</span>
</div>
<!-- ゲームのロジック-->
<%= javascript_include_tag "jquery-1.9.1.min" %>
<%= javascript_include_tag "jquery.easing.1.3" %>
<%= javascript_include_tag "jquery.cookie" %>
<%= javascript_include_tag "jquery-numerator" %>
<%= javascript_include_tag "jquery.transform" %>
<%= javascript_include_tag "checkIE" %>
<%= javascript_include_tag "handlers" %>
<%= javascript_include_tag "view" %>
<%= javascript_include_tag "values" %>
<%= javascript_include_tag "neko" %>
<%= javascript_include_tag "battle" %>
<%= javascript_include_tag "minigame" %>
<%= javascript_include_tag "pushnotification" %>
<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "neko" %>