<header>
    <div id="top_banner">
        <a href="/"><img id="top_banner" src="images/top_banner.png"></a>
    </div>
    <div id="nav_menu">
        <%= link_to "Top", index_path , class:"menu_item" %>
        <%= link_to "About", "#{index_path}#about" , class:"menu_item" %>
        <%= link_to "Text", "#{index_path}#text" , class:"menu_item" %>
        <%= link_to "Illust", illusts_path , class:"menu_item" %>
        <%= link_to "Works", works_path , class:"menu_item" %>
        <%= link_to "Contact", contact_path , class:"menu_item" %>
    </div>
</header>
