<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title) %></title>
    <%= render "layouts/common_head" %>
    <%= render  "layouts/shim" %>
    <%= stylesheet_link_tag "custom" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
